<div class="container">
    <div>
        <h2>Welcome, {{username}}</h2>
        <a href="/new-post"><button id="new-post">+New Post</button></a>
    </div>
    <div class="filler"></div>
    <div>
        {{#if blogPosts.length}}
        <div>
            {{#each blogPosts as |blogPost|}}
            <div class="container">
                <h4><a href="/blogposts/{{blogPost.id}}">{{blogPost.title}}</a></h4>
            </div>
            {{/each}}
        </div>
        {{/if}}
    </div>
</div>
