<div>
    <div>
        <h2>Welcome, {{name}}</h2>
        <a href="/new-post"><button id="new-post">+New Post</button></a>
    </div>

    <div>
        {{#if blogPosts.length}}
        <div>
            <h3>Previous Posts</h3>

            {{#each blogPosts as |blogPost|}}
            <div>
                <h4><a href="/blogposts/{{blogPost.id}}">{{blogPost.title}}</a></h4>
            </div>
            {{/each}}
        </div>
        {{/if}}
    </div>
</div>
