<div>
    <div>
        <p>testing testing testing 1 2 3</p>
    </div>

    <div>
        <div>
            {{#each blogposts}}
            <div class="blog-post">
                <h2>{{title}}</h2>
                <p>{{description}}</p>
                <p>Posted by: {{name}}</p>
                <p>Date created: {{createdAt}}</p>
            </div>
            {{/each}}
        </div>
    </div>
</div>