{{#each blogPosts as |blogPost|}}
<div>
    <h2>
        <a href="/blogpost/{{blogPost.id}}">{{blogPost.title}}</a>
    </h2>
    <p>
        By: {{blogPost.user.name}} on  {{blogPost.date_created}}
    </p>
</div>
{{/each}}