<div>
    <div>
        <p>testing testing testing 1 2 3</p>
    </div>

    <div>
        {{#each blogPosts as |blogPost|}}
        <div>
            <h2>
                <a href="/blogposts/{{blogPost.id}}">{{blogPost.title}}</a>
            </h2>
        </div>
        {{/each}}
    </div>

</div>