<div>
    <div>
        <h2>Login</h2>

        <form id="login-form">
            <div>
                <label for="username-login">Username:</label>
                <input type="text" id="username-login" />
            </div>
            <div>
                <label for="passowrd-login">Password:</label>
                <input type="password" id="password-login" />
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
    <div>
        <a href="/signup">Sign Up Instead</a>
    </div>
</div>

<script src="/js/login.js"></script>