<div class="container">

    <h2>Login</h2>

    <form id="login-form">
        <div class="mb-3">
            <label for="username-login" class="form-label">Username:</label>
            <input type="text" class="form-control" id="username-login" />
        </div>
        <div class="mb-3">
            <label for="passowrd-login" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password-login" />
        </div>
        <div class="d-grid gap-2 login-signup-btn">
            <button class="btn" type="submit">Login</button>
        </div>
        <div>
            <a class="btn instead-btn" href="/signup">Sign Up Instead</a>
        </div>
    </form>

</div>

<script src="/js/login.js"></script>