<div>
    <h2>Welcome, {{name}}</h2>
</div>

<div>
    <div>
        <h3>Create a New Post!</h3>

        <form>
            <div>
                <label for="post-title">Post Title:</label>
                <input type="text" id="post-title" />
            </div>
            <div>
                <label for="post-description">Description:</label>
                <input type="text" id="post-description" />
            </div>
            <div>
                <button type="submit" id="create-post">Create Post</button>
            </div>
        </form>
    </div>

    {{#if blogPosts.length}}
    <div>
        <h3>Previous Posts</h3>

        {{#each blogPosts as |blogPost|}}
        <div>
            <h4><a href="/blogposts/{{blogPost.id}}">{{blogPost.title}}</a></h4>
            <button id="delete-button" data-id="{{blogPost.id}}">DELETE</button>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>

<script src="./js/profile.js"></script> 
