<div>
    <div>
        <h2>Sign Up</h2>

        <form class="signup-form">
            <div>
                <label for="name-signup">Name:</label>
                <input type="text" id="name-signup" />
            </div>
            <div>
                <label for="email-signup">Email:</label>
                <input type="text" id="email-signup" />
            </div>
            <div>
                <label for="password-signup">Password:</label>
                <input type="password" id="password-signup">
            </div>
            <div>
                <button type="submit">Signup</button>
            </div>
        </form>
    </div>
    <div>
        <a href="/login">Login Instead</a>
    </div>
</div>

<script src="./js/signup.js"></script>