<div class="container">

    <h2>Sign Up</h2>

    <form class="signup-form">
        <div class="mb-3">
            <label for="username-signup" class="form-label">Username:</label>
            <input type="text" class="form-control" id="username-signup" />
        </div>
        <div class="mb-3"> 
            <label for="password-signup" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password-signup">
        </div>
        <div class="d-grid gap-2 submit-btn">
            <button class="btn" type="submit">Signup</button>
        </div>
        <div>
            <a class="btn instead-btn" href="/login">Login Instead</a>
        </div>
    </form>

</div>

<script src="/js/signup.js"></script>