<div class="container">
    <form>
        <div>
            <label for="post-title" class="form-label">Post Title:</label>
            <input type="text" id="post-title" class="form-control" value="{{title}}" />
        </div>
        
        <div>
            <label for="post-description" class="form-label">Description:</label>
            <textarea class="form-control" type="text" id="post-description" value="{{description}}"
                rows="3"></textarea>
        </div>

        <script>
            const textarea = document.getElementById('post-description');
            textarea.value = "{{description}}";
        </script>

        <div class="d-grid gap-2">
            <button class="btn update-new submit-btn" type="submit" id="update-post" data-id="{{id}}">Update Post</button>
        </div>
    </form>
</div>

<script src="/js/update.js"></script>