* {
    background-color: white;
    font-family: "Merriweather", serif;
}

.no-button {
    border: none;
}

#tech-blog {
    font-family: "Merriweather", serif;
    font-style: bold;
    text-decoration: none;
    font-size: 36px;
    margin-left: 15px;
    color: black;
}

header nav a,
header nav button {
    font-family: "Merriweather", serif;
    font-style: bold;
    text-decoration: none;
    font-size: 36px;
    margin: 3px 15px;
    color: black;
}

.filler {
    height: 25px;
}

.card-body {
    border: 5px darkcyan solid;
    padding: 0px;
}

.card-title,
.card-subtitle {
    /* background: rgb(24, 223, 223); */
    text-decoration: none;
    padding: 6px;
}

.card-text {
    text-decoration: none;
    padding: 12px;
    height: 130px;
}

h3 {
    font-size: 14px;
}

.description {
    font-size: 22px;
}

#new-post {
    background-color: rgb(112, 25, 173);
    color: white;
    border-radius: 10px;
}

footer {
    height: 100px;
}
